/* Reset */

* {
    margin: 0px;
    padding: 0px;
}

/* Global Styles */

html {
    text-align: center;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    opacity: .9;
    color: seashell;
    padding: 0px;
    margin: 0px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: black;
    margin: 0px;
    padding: 0px;
    height: 69px;
    border-bottom: seashell 1px solid;
}

header img {
    display: flex;
    padding: 10px;
    width: auto;
    height: 50px;
    margin-top: 0px;
}
nav {
    width: 40%;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/* Cover Section */

.cover {
    padding-top: 70px;
    text-align: center;
    width: 1200px;
    height: 700px;
    background: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    z-index: 0;
    display: flex;
    align-items: center;
}

.cover div {
    padding: 15px;
    background-color: black;
    width: 100%;
    height: fit-content;

}

/* Month Section */

 .month {

 }