/* Reset */

* {
    margin: 0px;
    padding: 0px;
}

/* Global Styles */

html {
    text-align: center;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    opacity: .9;
    color: seashell;
    padding: 0px;
    margin: auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: black;
    padding: 0px;
    height: 69px;
    border-bottom: seashell 1px solid;
}

header img {
    display: flex;
    padding: 10px;
    width: auto;
    height: 50px;
    margin-top: 0px;
}
nav {
    width: 40%;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

main {
    max-width: 1200px;
    margin: auto;
}

section {
    padding-top: 100px;
}
/* Cover Section */

.cover {
    padding-top: 0px;
    padding-top: 70px;
    text-align: center;
    width: 1200px;
    height: 700px;
    background: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    z-index: 0;
    display: flex;
    align-items: center;

}

.cover div {
    padding: 15px;
    background-color: black;
    width: 100%;
    height: fit-content;

}

/* Month Section */

 .month {
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
 }

 .month .container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .month .container img {
    padding: 10px;
 }

 .month img {
    max-width: 300px;
    max-height: 200px;

 }

 .locations {
    background: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    margin-top: 100px;
 }


 .locations .container {
    display: flex;
    justify-content: center;
    /* padding: 15px; */
 }

 .locations .container div {
    background-color: black;
    padding: 15px;
    margin: 15px 20px;
    width: 300px;
    height: auto;
    opacity: 1;
 }

 .locations .container div * {
    padding: 20px 0;
 }

 footer {
     height: 200px;
     padding: 20px;
 }

 footer h5 {
    padding: 20px;
 }

 footer p {
     text-align: left;
     font-size: 16px;
 }